form {
    margin: auto;
}

.list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.list a {
    text-decoration: none;
    color: black;
}

.list a:hover {
    text-decoration: underline;
}

.item {
    max-width: 300px;
    min-width: 200px;
    margin: 15px 5px;
    text-align: center;
}

.item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 40px;
    background-color: black;
}

.icon img {
    width: 48px;
    height: 48px;
    border: 2px solid grey;
    background-color: white;
    margin: 3px 3px;
    border-radius: 40px;
    padding: 2px;
}

.info {
    margin-right: 7px;
    line-height: 5px;
    color: white;
}
