form {
    margin: auto;
}

.list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.list a {
    text-decoration: none;
    color: black;
}

.list a:hover {
    text-decoration: underline;
}

.pokemon {
    margin: 15px 5px;
    text-align: center;
}

.icon img {
    width: 120px;
    height: 120px;
    border: 2px solid grey;
    padding: 10px;
}

.info {
    line-height: 5px;
}
