/* ensures that all elements use this font */
* {
    font-family: 'Montserrat', 'Century Gothic', sans-serif;
}

body {
    background-color: #81CBFC;
    margin:0px;
}

hr {
    height: 3px;
    background-color: black;
    border: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

h1 {
    font-size: 50px;
    text-align: center;
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    display:block;
    margin-bottom: -15px;
}

p {
    font-size: 20px;
    text-align: center;
}

/* login/register portion */
.userbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userbox p {
    font-weight: bold;
    color: red;
    margin-right: 5px;
}

.userbox #loggedin {
    font-weight: normal;
    color: black;
    margin-right: 5px;
}

.userbox .user-buttons {
    width: 90px;
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color:white;
    background-color: black;
    border-style: none;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

/* logo */
.logo img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.content {
    flex: 1;
    max-width: 800px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(255,255,255, 0.5);
    border-radius: 50px;
}

/* search bar */
.search-wrapper form {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 60%;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    border-width: 1.5px
}

.search-wrapper select {
    height: 100%;
    border-left: 2px solid black;
    font-size:15px;
    font-weight: bold;
}

.search-wrapper input {
    font-weight: bold;
    font-size: 15px;
    color: black;
    background: transparent;
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    border: none;
}

.search-wrapper button {
    width: 100px;
    height: 100%;
    background-color: black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: none;
}

.search-wrapper button img {
    height: 80%;
}

/* navigation bar */
.navbar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 5px;
}

.navbar ul {
    padding-left: 40px;
    padding-right: 40px;
}

.navbar li {
    font-weight: bold;
    font-size:20px;
    display: inline-block;
    padding: 0 .25em 0 0;
}

.navbar li:after {
    content: " | ";
    display: inline-block;
    font-size: 100%;
    margin: 0 0 0 .5em;
}

.navbar li:last-child:after {
    content: " ";
}
.navbar li#last
{
    border: none;
}

.navbar a
{
    text-decoration: none;
    color: black;
}

.navbar a:hover
{
    text-decoration: underline;
}

/* footer */
.footer {
    clear: both;
    padding: 10px;
    background-color: #404040;
    color:white;
    text-align: center;
}

.footer h1 {
    color: #D3D3D3;
}

.footer a
{
    color: white;
    line-height: 0px;
    font-weight: bold;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

#bottomtext p {
    color:white;
    font-size: 15px;
    line-height: 5px;
}

#mininav {
    background-color: #faf3f2;
    display: flex;
    flex-direction: row;
    align-items:center;
    position:fixed;
    top:-100px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: top 0.3s;
}

#mininav #mini-logo img{
    height: 40px;
    margin: 10px 20px;
}

#mininav .search-wrapper {
    flex-grow: 1;
}

#mininav .search-wrapper form{
    margin:auto;
    width: 90%;
}

/* error/success messages */
.messages {
    margin: 10px 5px;
    padding: 5px 20px;
    border-radius: 30px;
}

.messages p {
    text-align: left;
    line-height: 5px;
    margin-bottom: 0px;
}

.success {
    background-color: #90EE90;
    border: 2px solid #228B22;
    text-align: center;
}

.fail {
    background-color: #F08080;
    border: 2px solid #FF0000;
}

/* screen size rules */
@media screen and (max-width:860px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}
